@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Google+Sans);
html,
body,
p,
div
h3,
h4,
h5,
h6  {
        font-family: "'Google Sans' !important";
}
h1,
h2,
li,
a
{
    font-family: 'Oswald !important';
}
h1{
    text-shadow: 3px 3px 1px 2px rgba(0,0,0,.25);
}
.main-wrapper{
    max-width: 1200px;
    margin: auto;
}
.content-area{
    max-width: 1200px;
    grid-area: cArea;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-areas: 
        'titleArea titleArea titleArea callArea callArea callArea'
        'newsFeedArea newsFeedArea newsFeedArea callArea callArea callArea'
}
html{
    background: linear-gradient(rgba(110, 175, 160,.8),rgba(80, 52, 120,.8)),  url(Brochure_Cover_03_A2_Rectangle_3_pattern.png);
    background-size: 100% 100%, cover;
    background-attachment: scroll, fixed;   
}
a{
    text-decoration: none;
}
*{
        font-family: "'Google Sans' !important";
        scroll-behavior: smooth;
}

.wrapper{
    max-width: 1200px
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        'cArea cArea'
        'Instagram Facebook'
        'Youtube Youtube'
}
/******Navbar Stuff****/
.nav-wrapper
{
    width: 1200px;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #19a49e;
    background-attachment: scroll;
    border-radius: 0 0 35px 35px;
    margin: auto;
    z-index: 1;
}
.nav1{
    top: 20px;
    display: grid;
    grid-template-columns: auto;
    animation-fill-mode: forwards;
    z-index: 1;
}
.nav1 ul li{
    letter-spacing: .1em;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.nav1 .list-item:hover{
    cursor: pointer;
}
li a:hover{
    color: #fff;
}
.list-item{
    margin: 5px;
    text-transform: 10px;
    padding: 5px;
    text-decoration: none;
}
.nav2{
    position: absolute;
    right: 0px;
    top:0px;
    display: grid;
    grid-template-columns: 70% auto;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: -1;
}

.bookmarks
{
    display: grid;
    grid-template-columns: repeat(6,auto);
    padding-bottom: 10px;
    grid-gap: 20px;
    z-index: 2;
}
.tooltip{
    font-family: 'Google Sans';
    display: inline;
    top: 100px;
}
.bm{
    position: relative;
    background-color: teal;
    top:-75px;
    height: 200px;
    width: 60px;
    display: inline-grid;
    border: 2px solid #444;
    border-radius: 3px 3px 15px 15px;
    animation-fill-mode: forwards;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 80%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 50% 80%, 100% 100%, 100% 0%);
}
.bm:hover{
    cursor: pointer;
}
.bmimg{
    margin: auto;
    height: 40px;
    width: 40px;
}
.list-item
{
    display: inline;
    text-decoration: none;
    font-weight: bold;
}

.burger-icon{
    display: none;
}
/*****Content:Title****/
.titleSpace
{
    position: relative;
    grid-area: titleArea;
    min-height: 600px;
    max-height: 600px;
    padding: 20px 10px 10px 20px;
}
.titleSpace h1{
    font-size: 64px;
    font-family: "Oswald !important";
    z-index: 0
}
.titleSpace h2{
    font-size: 36px;
    font-family: "Oswald !important";
    z-index: 0
}
.titleText{
    position: absolute;
    bottom: 0px;
    z-index: 0;
}
.titleSpace img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,.25);
    animation-fill-mode: both;
}
/*****Newsfeed***/
.newsFeed{
    grid-area: newsFeedArea;
    max-width: inherit;
    position: relative;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 4px 25px 25px 4px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.25);
    max-width: 700px;
    min-width: 700px;
    min-height: 700px;
}
.news{
    position: absolute;
    display: none;
    padding: 10px;
    top:0px;
    animation-fill-mode: forwards;
}
#RegImg{
    margin-left: 20%;
    height: 300px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
}
/*****Call to Action*****/
.callToAction{
    grid-area: callArea;
    display: grid;
    position: sticky;
    grid-template-rows: repeat(3,minmax(content,content));
    grid-template-areas: 
        'sub1'
        'sub2'
        'sub3';
    top: 100px;
    right: 0px;
    max-height: 500px;
    max-width: 400px;
}
.sub1 {
    padding: 10px;
}
.sub1 h4{
    font-family: "'Google Sans' !important";
}
.sub2 {
    margin-left: 100px;
    padding: 10px;
}
.button{
    border: 0px;
    background-color: #662d91;
    font-size: 32px;
    font-weight: bold;
    color: #19a49e;
    text-align: center;
    text-decoration: none;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
    padding: 20px 80px 20px 80px;
}
.button:hover{
    background-color: #19a49e;
    color: #662d91;
    cursor: pointer;
    transform: translateY(5px;);
    -webkit-transform: translateY(5px);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
}
.sub3 {
    padding: 10px;
    border: 0px;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
}
.sub3 img{
    display: inline;
    position: relative;
    justify-content: right;
    margin: 10px; 
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
}
.sub3 img:hover{
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
}

/***Social Media****/
.main-sidebar{
    grid-area: Facebook;
    min-height: 500px;
    max-height: 600px;
    margin: 10px;
    padding: 10px;
}
.main-sidebar div,
.main-sidebar2 div,
.main-sdebar iframe
{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.25);
}
.main-sidebar2{
    grid-area: Instagram;
    min-height: 500px;
    max-height: 600px;
    margin: 10px;
    padding: 10px;
}
.main-sidebar3{
    grid-area: Youtube;
    margin: auto;
    padding: 10px;
    width: 900px;
}
.main-sidebar3 iframe{
        margin: auto;
        height: 400px;
        width: 900px;
    }
/****Footer***/
.footer{
    display: grid;
    margin: auto;
    width: 100vw;
    padding: 10px;
    grid-template-columns: minmax(20px,300px) minmax(20px,500px);
    background-color: red;
    justify-content: center;
    grid-gap: 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(0,0,0,.25);
    grid-template-areas: 'foot2 foot3'
}
.foot1{
    font-family: "'Google Sans' !important";
    grid-area: foot1;
    text-align: center;
}
.foot2{
    font-family: "'Google Sans' !important";
    grid-area: foot2;
    text-align: center;
}
.foot3{
    font-family: "'Google Sans' !important";
    grid-area: foot3;
    text-align: center;
}

@-webkit-keyframes pullDown {
  40% {
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
}
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
}

@keyframes pullDown {
  40% {
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }

  100% {
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
  }
}

.pullDown {
  -webkit-animation-name: pullDown;
  animation-name: pullDown;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/******/
@-webkit-keyframes logoswicth {
  100% {
    -webkit-transform: translateY(-250px) translateX(-170px) scale(0.125);
    transform: translateX(-250px) translateX(-170px) scale(0.125);
    z-index: 2;
    position: fixed;
  }
}

@keyframes logoswitch {
  100% {
    -webkit-transform: translateY(-250px) translateX(-170px) scale(0.125);
    -ms-transform: translateY(-250px) translateX(-170px) scale(0.125);
    transform: translateY(-250px) translateX(-170px) scale(0.125);
    z-index: 2;
    position: fixed;
  }
}

.logoswitch {
  -webkit-animation-name: logoswitch;
  animation-name: logoswitch;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/***/
@-webkit-keyframes logounswicth {
  0% {
    -webkit-transform: translateY(-250px) translateX(-170px) scale(0.125);
    transform: translateX(-250px) translateX(-170px) scale(0.125);
    z-index: 2;
  }
    100%{
        z-index: 0;
        position: relative;
    }
}

@keyframes logounswitch {
  0% {
    -webkit-transform: translateY(-250px) translateX(-170px) scale(0.125);
    -ms-transform: translateY(-250px) translateX(-170px) scale(0.125);
    transform: translateY(-250px) translateX(-170px) scale(0.125);
    z-index: 2;
  }
    100%{
        z-index: auto;
        position: relative;
    }
}

.logounswitch {
  -webkit-animation-name: logounswitch;
  animation-name: logounswitch;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/***/
@-webkit-keyframes mUp {
    0%{
        opacity: 1;
    }
  100% {
    -webkit-transform: translateY(-250px);
    transform: translateX(-250px);
    opacity: 1;
    z-index: -1;
  }
}

@keyframes mUp {
    0%{
        opacity: 1;
    }
  100% {
    -webkit-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
    z-index: -1;
  }
}

.mUp {
  -webkit-animation-name: mUp;
  animation-name: mUp;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

/****/

@-webkit-keyframes mDown {
  0% {
    -webkit-transform: translateY(-250px);
    transform: translateX(-250px);
    opacity: 1;
    z-index: 1;
  }
    100%{
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
    }
}

@keyframes mDown {
  0% {
    -webkit-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
    z-index: 1;
  }
  100%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}

.mDown {
  -webkit-animation-name: mDown;
  animation-name: mDown;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-in;
}
/**********Mobile Query********/
@media screen and (max-width:700px)
{
.wrapper{
    max-width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        'cArea'
        'Instagram'
        'Facebook'
        'Youtube'
}
.main-wrapper{
    max-width: 350px;
    margin: auto;
}
.content-area{
    grid-area: cArea;
    max-width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "titleArea"
        "newsFeedArea"
        "callArea";
}
.nav-wrapper
{
    max-width: 350px;
}
.nav1 ul{
    align-items: left;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav1 ul li{
   font-size: 9px;
    font-weight: 900;
}
.list-item{
    text-transform: 10px;
    text-decoration: none;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
.nav2{
    position: absolute;
    right: 10px;
    top:0px;
    display: grid;
    grid-template-columns: 10% auto;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: -1;
}
.bookmarks
{
    display: grid;
    grid-template-columns: repeat(6,auto);
    padding-bottom: 10px;
    grid-gap: 5px;
    z-index: 2;
}
.bmimg{
    margin: auto;
    height: 25px;
    width: 25px;
}
.bm{
    top:-30px;
    height: 140px;
    width: 45px;
    border-radius: 3px 3px 15px 15px;
}
.bm:hover{
    cursor: pointer;
}
.titleSpace
{
    position: relative;
    grid-area: titleArea;
    min-height: 350px;
    max-width: 350px;
    padding: 10px 10px 10px 10px;
}
.titleSpace h1{
    font-size: 28px;
    text-align: center;
}
.titleSpace h2{
    text-align: center;
    font-size: 14px;
}
    .sup{
        font-family: 'Oswald';
    }
.titleText{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 350px;
}
.titleSpace img{
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    margin:auto;
    animation-fill-mode: both;
}
.logoWrapper{
    margin: auto;
    width: 260px;
    }
/*****Newsfeed***/
.newsFeed{
    grid-area: newsFeedArea;
    max-width: inherit;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 4px 25px 25px 4px;
    min-width: 350px;
    max-width: 350px;
}   
.newsFeed img{
    margin: auto;
    height: 200px;
    width: 100%;
    padding: 10px;
    padding-bottom: 2px;
}
   
.callToAction{
    grid-area: callArea;
    display: grid;
    position: sticky;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
        'sub2'
        'sub3';
    bottom: 0px;
    max-width:350px;
    justify-content: center;
    border-radius: 25px;
}
    .sub1 h4{
        font-family: "'Google Sans' !important";
    }
.sub1{
    display: none;
    }
    .sub2{
        margin: auto;
    }
.sub3 {
    padding: 10px;
    border: 0px;
    display: grid;
    grid-template-columns: 0% 1fr 1fr 1fr 1fr;
}
.sub3 img{
    margin: 4px; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
}
.button{
    background-color: #662d91;
    font-size: 14px;
    padding: 8px 12px 8px 12px;
}
.button:hover{
    background-color: #19a49e;
    color: #662d91;
    cursor: pointer;
    transform: translateY(3px;);
    -webkit-transform: translateY(3px);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.25);
}
.main-sidebar{
    max-width: 350px;
    }
.main-sidebar2{
        max-width: 350px;
    }
.main-sidebar3{
        max-width: 350px;
        margin: auto;
    }
.main-sidebar3 iframe{
        margin: auto;
        width: 350px;
        max-width: 350px;
        height: 200px;
    }
.footer{
    display: grid;
    margin: auto;
    width: 100vw;
    padding: 10px;
    grid-template-rows: minmax(20px,content) minmax(20px,300px);
    background-color: red;
    justify-content: center;
    grid-gap: 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(0,0,0,.25);
    grid-template-areas: 
        'foot2'
        'foot3'        
    }
    .footer>div{
        grid-column: 1/-1;
    }
    .foot1{
        margin: auto;
    }
    .foot2{
        margin: auto;
    }
    .foot3{
        margin: auto;
    }
@-webkit-keyframes logoswicth {
  100% {
    -webkit-transform: translateY(-165px) translateX(-145px) scale(0.15);
    transform: translateY(-165px) translateX(-145px) scale(0.15);
    z-index: 2;
    position: fixed;
  }
}

@keyframes logoswitch {
  100% {
    -webkit-transform: translateY(-165px) translateX(-145px) scale(0.15);
    -ms-transform: translateY(-165px) translateX(-145px) scale(0.15);
    transform: translateY(-165px) translateX(-145px) scale(0.15);
    z-index: 2;
    position: fixed;
  }
}

.logoswitch {
  -webkit-animation-name: logoswitch;
  animation-name: logoswitch;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/***/
@-webkit-keyframes logounswicth {
  0% {
    -webkit-transform: translateY(-165px) translateX(-145px) scale(0.155);
    transform: translateX(-165px) translateX(-145px) scale(0.15);
    z-index: 2;
  }
    100%{
        z-index: 0;
        position: relative;
    }
}

@keyframes logounswitch {
  0% {
    -webkit-transform: translateY(-165px) translateX(-145px) scale(0.15);
    -ms-transform: translateY(-165px) translateX(-145px) scale(0.15);
    transform: translateY(-165px) translateX(-145px) scale(0.15);
    z-index: 2;
  }
    100%{
        z-index: auto;
        position: relative;
    }
}

.logounswitch {
  -webkit-animation-name: logounswitch;
  animation-name: logounswitch;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

}